<index: element="k-dialog">
	{{if show}}
		<div as="thisdialog" style="z-index: {{zindex}}" class="k-overlay {{if hiding}}hiding{{/}} {{if static}}k-overlay-static{{else}}k-overlay-fixed{{/}} {{if big}}k-dialog-big{{/}} {{if effect}}k-dialog-effect-{{effect}}{{/}} {{if noanimation}}k-dialog-no-animation{{/}} {{if alignStart}}k-overlay-align-start{{/}}" on-click="click($event)" data-hidedialog="1">
			<div class="k-dialog{{if class}} {{class}}{{/}}{{if sticky}} k-dialog-sticky{{/}}{{if transparent}} k-dialog-transparent{{/}}" as="outer" tabindex="0">
				{{if !hideclose}}
					<div class="k-close fa fa-times ion ion-ios-close-empty spin-90" on-click="click($event)" data-hidedialog="1"></div>
				{{/}}			
				<div class="k-dialog-inner" as="inner">
					{{@content}}
				</div>
			</div>
		</div>
		{{if !static && !header}}
			<style type="text/css">
				@media screen {
					body:not(.taskboard):not(.dbs):not(.chat) div.header { right: 8px; }
					body:not(.taskboard):not(.dbs):not(.chat):not(.git) { overflow: hidden; margin-right: 15px; }
				}
			</style>
		{{/}}
	{{/}}
