.k-overlay.k-overlay-static
  position relative
  top inherit
  left inherit
  width inherit
  height inherit
  background inherit
  z-index 9000
  animation none

.k-overlay.k-overlay-fixed
  position fixed

.k-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0,0.2)
  z-index 9000
  animation 0.5s k-overlay ease

  &.hiding
    animation .5s k-overlay-off ease
    background rgba(0,0,0,0)
    .k-dialog
      animation .5s k-popup-off cubic-bezier(0, 1, 0, 1)
      opacity 0
      transform translateY(-150px)

  .k-dialog
    position absolute
    background #fafafa
    top 100px
    left 50%
    width 450px
    transform translateX(-50%)
    border-radius 10px
    box-shadow 0 0 25px rgba(0,0,0,0.12)
    animation 0.5s k-popup cubic-bezier(0, 1, 0, 1)

    .k-close:hover
      background #aaa
    .k-close
      transition 0.3s background
      position absolute
      top 5px
      right 5px
      width 28px
      text-align center
      height 28px
      background #ddd
      border-radius 100%
      color #fff
      font-size 20px
      line-height 28px
      cursor pointer

    .k-dialog-inner
      padding 1.8em

    h1.k-dialog-title, h2.k-dialog-title
      font italic normal 22px/44px Lora, Cambria, Georgia
      text-align center
      color #555
      margin 0
      padding 0

@keyframes k-popup
  0%
    opacity 0
    transform translateY(-150px) translateX(-50%)
  100%
    opacity 1
    transform translateY(0) translateX(-50%)

@keyframes k-popup-off
  0%
    opacity 1
    transform translateY(0) translateX(-50%)
  100%
    opacity 0
    transform translateY(-150px) translateX(-50%)

@keyframes k-overlay
  0%
    background rgba(0,0,0,0)
  100%
    background rgba(0,0,0,0.2)

@keyframes k-overlay-off
  0%
    background rgba(0,0,0,0.2)
  100%
    background rgba(0,0,0,0)
