<index: element="k-dialog">
	{{if show}}
		<div as="thisdialog" style="z-index: {{zindex}}" class="k-overlay{{if hiding}} hiding{{/}}{{if static}} k-overlay-static{{else}} k-overlay-fixed{{/}}{{if big}} k-dialog-big{{/}}{{if effect}} k-dialog-effect-{{effect}}{{/}}{{if noanimation}} k-dialog-no-animation{{/}}" on-click="click($event)" data-hide="1">
			<div class="k-dialog{{if class}} {{class}}{{/}}{{if sticky}} k-dialog-sticky{{/}}{{if transparent}} k-dialog-transparent{{/}}" as="outer" tabindex="0">
				<div class="k-close fa fa-times ion ion-ios-close-empty" on-click="click($event)" data-hide="1"></div>
				<div class="k-dialog-inner" as="inner">
					{{@content}}
				</div>
			</div>
		</div>
		{{if !static}}
			<style type="text/css"> body { overflow: hidden; margin-right: 15px; } div.header { right: 8px; } </style>
		{{/}}
	{{/}}
