.d-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,0.2)
  // background radial-gradient(center, ellipse cover, rgba(77,77,77,0.2) 0%,rgba(0,0,0,0.8) 100%)
  z-index 1000
  animation 0.5s d-overlay ease
  &.hiding
    animation .5s d-overlay-off ease
    background rgba(0,0,0,0)
    .d-dialog
      animation .5s d-popup-off cubic-bezier(0, 1, 0, 1)
      opacity 0
      transform translateY(-150px)

  .d-dialog
    position absolute
    background #fafafa
    top 15%
    left 50%
    width 450px
    margin-left -225px !important
    border-radius 5px
    box-shadow 0 0 25px rgba(0,0,0,0.2)
    animation 0.5s d-popup cubic-bezier(0, 1, 0, 1)
    
    .d-close
      position absolute
      top -7px
      right -5px
      width 28px
      text-align center
      height 28px
      background #fff
      border-radius 100%
      box-shadow 0 0 6px rgba(0,0,0,0.3)
      font-family Arial, Helvetica
      font-weight bold
      color #888
      font-size 20px
      line-height 28px
      cursor pointer

    .d-dialog-inner
      padding 1.8em

    h1, h2
      font italic normal 22px/22px Lora, Cambria, Georgia
      text-align center
      color #555
      margin 0
      padding 0

@keyframes d-popup
  0%
    opacity 0
    transform translateY(-150px)
  100%
    opacity 1
    transform translateY(0)

@keyframes d-popup-off
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(-150px)

@keyframes d-overlay
  0%
    background rgba(0,0,0,0)
  100%
    background rgba(0,0,0,0.2)

@keyframes d-overlay-off
  0%
    background rgba(0,0,0,0.2)
  100%
    background rgba(0,0,0,0)
